/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane .label{
	/*-fx-text-fill: white;*/		
}

.button{
	-fx-background-color: #FF955F;
	-fx-text-fill: white;
	-fx-font-weight: 900;
} 

.tab .pane .vbox{
	-fx-background-color: #FFFEE6;
}

.table-view{
	-fx-padding: 0 0 0 0;
}

.table-view .column-header{
	-fx-background-color: #FF5F67;
}

.table-view .label{
	-fx-text-fill: white;
}

.menu-bar , .menu-bar *{
	-fx-background-color: #FF9B67;
}

.menu-bar .menu .label{
	-fx-text-fill: white;
	-fx-font-weight: 900;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

